<div class="w-100 d-flex justify-content-around  position-absolute z-1">
    <div class="col">
        <h1 class="text-white">Aladeojebi opeyemi</h1>
    </div>
    <div class="col">
        <a class="text-decoration-none text-white px-3 active" routerLink="">Home</a>
        <a class="text-decoration-none text-white px-3" routerLink="./sobre">Sobre</a>
        <a class="text-decoration-none text-white px-3" routerLink="">Currículo</a>
        <a class="text-decoration-none text-white px-3" routerLink="">Portfolio</a>
        <a class="text-decoration-none text-white px-3" routerLink="">Contact</a>
    </div>
</div>