.sidemenu {
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 47px;
  width: 59%;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: #0e2d46;
}
.active {
  display: flex;
}
.sidemenu a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 22px;
}
.brown {
  color: #d48872;
}
.logoColor {
  background-color: #d48872;
}
@media (max-width: 768px) {
  .mobile-view-block {
    display: none;
  }
  .pro {
    height: 373px;
    width: 100%;
    margin-top: 60px;
  }
  .desktop-menu {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .mobile-view-block {
    display: flex;
  }
  .mobile-header {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}
