.pro {
  height: 530px;
  opacity: 0.5;
}
.pro1 {
  background-image: linear-gradient(124deg, #084b7c, #14171d, #684232);
  width: 100vw;
  height: 100vh;
}
@media (max-width: 768px) {
  .pro {
    height: 400px;
    width: 100%;
    margin-top: 248px;
  }
}

@media (min-width: 769px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}
