<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="card bg-tr">
            <div class="card-body d-flex flex-column">
                <div class="row">
                    <div class="d-flex">
                        <div class="line"></div>
                        <p class="card-title px-2 fw-semibold text-white">Portfolio</p>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <a class="tabs">tudo</a>
                        <a class="tabs">web</a>
                        <a class="tabs">app</a>
                        <a class="tabs">design</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col" *ngFor="let count of cardCount">
                        <div class="card bg-transparent">
                            <div class="card-body d-flex flex-column position-relative">
                                <img [src]="cardData[0].imageUrl" alt="" class="port">
                                <span class="text-white position-absolute bottom-0 bg-titn">
                                    {{ cardData[0].text }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>