.bg-tr {
  background: #0b0f1982;
}
.line {
  border: 1px solid #d58a74;
  width: 30px;
  height: 0px;
  margin-top: 10px;
}
.bluecolor {
  background-color: #113974d1;
  margin-top: 10px;
}
.circle-color {
  border: 3px solid #1565c0;
}
.brown {
  color: #d48872;
}
.tabs {
  background-color: #a3a19fd4;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0px 4px;
  text-decoration: none;
}
.tabs:hover {
  background-color: #d48872 !important;
}
.port {
  height: 212px;
}
.bg-titn {
  background: #443939fa;
}
