<div class="containerMain">
    <div class="overlay">
    </div>
    <img src="../../assets/images/bg-character.png" alt="img">
    <div class="bgRounded"></div>
    <div class="contentBody col-md-6 ">
        <div class="layout">
            <div class="intro">
                <div class="logoText">
                    <p>{{data.name}}</p>
                </div>
                <span class="disignation">{{data.jobtitle}}</span>
                <span class="details">{{data.describe}}</span>
                <div class="navigation bg-white ">
                    <a routerLink="#">Home</a>
                    <a routerLink="#">Sobre</a>
                    <a routerLink="#">Currículo</a>
                    <a routerLink="#">Portfolio</a>
                    <a routerLink="#">Contact</a>
                </div>
            </div>

        </div>
    </div>
</div>