.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    134deg,
    #0669ad 0%,
    rgba(1, 7, 22, 0.28) 50%,
    rgba(210, 121, 81, 0.61) 100%
  );
}
.contentBody {
  color: #fff;
  font-family: "Exo";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  color: #fff;
  font-family: Exo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  color: #fff;
  font-family: Exo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logoText {
  color: #fff;
  font-family: Exo;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.disignation {
  color: #db8d76;
  font-family: Exo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.details {
  color: #fff;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/backg.jpg");
  opacity: 0.03;
}
.bgRounded {
  width: 100%;
  height: 115vh;
  position: absolute;
  top: -179px;
  left: 0;
  border-radius: 0px 0px 181px 181px;
  background: rgba(0, 0, 0, 0.3);
}
img {
  width: 445px;
  max-width: 100%;
  position: absolute;
  left: 0vw;
}
